.header {
    max-width: 880px;
    padding-bottom: 40px;
    margin: 46px auto 40px auto;
    border-bottom: 1px solid #545454;
    border-bottom-color: rgba(84, 84, 84, 0.7);

}

@media screen and (max-width: 700px) {
    .header {
        margin-top: 28px;
        margin-bottom: 42px;
        padding-bottom: 31px;
    }
}